// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
	@if $self {
		&,
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	} @else {
		&:hover,
		&:active,
		&:focus {
			@content;
		}
	}
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
	#{$context} & {
		@content;
	}
}

// usage @include font-size-em(12px)
@mixin font-size-em($size) {
	font-size: $size;
	font-size: em($size);
}
@mixin font-size-rem($size) {
	font-size: $size;
	font-size: rem($size);
}

// usage @include gradient(#07c, #06f, vertical);
@mixin gradient($start-color, $end-color, $orientation) {
	background: $start-color;
	@if $orientation == "vertical" {
		background: -webkit-linear-gradient(top, $start-color, $end-color);
		background: linear-gradient(to bottom, $start-color, $end-color);
	} @else if $orientation == "horizontal" {
		background: -webkit-linear-gradient(left, $start-color, $end-color);
		background: linear-gradient(to right, $start-color, $end-color);
	} @else {
		background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
		background: radial-gradient(ellipse at center, $start-color, $end-color);
	}
}

// usage @include center-block;
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
// usage @include center-vertically;
@mixin center-vertically {
	position: absolute;
	top: 50%;
	left: 50%;
	@include prefix(transform, translate(-50%, -50%), "webkit" "ms");
}

// usage @include responsive-ratio(16,9);
@mixin responsive-ratio($x, $y, $pseudo: false) {
	$padding: unquote(($y / $x) * 100 + "%");
	@if $pseudo {
		&:before {
			@include pseudo($pos: relative);
			width: 100%;
			padding-top: $padding;
		}
	} @else {
		padding-top: $padding;
	}
}

@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
// usage @include truncate-multi(100%, 3em);
@mixin truncate-multi($truncation-boundary, $truncation-height) {
	max-width: $truncation-boundary;
	height: $truncation-height;
	display: -webkit-box;
	/* Fallback for non-webkit */
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin position($position, $args) {
	@each $o in top right bottom left {
		$i: index($args, $o);
		@if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
			#{$o}: nth($args, $i + 1);
		}
	}
	position: $position;
}
// Positioning helpers
@mixin absolute($args: "") {
	@include position(absolute, $args);
}

@mixin fixed($args: "") {
	@include position(fixed, $args);
}

@mixin relative($args: "") {
	@include position(relative, $args);
}

@mixin for-size($size) {
	@if $size == phone-xs {
		@media (min-width: 320px) and (max-width: 375px) {
			@content;
		}
	} @else if $size == phone-sm {
		@media (min-width: 376px) and (max-width: 425px) {
			@content;
		}
	} @else if $size == phone {
		@media (min-width: 426px) and (max-width: 767px) {
			@content;
		}
	} @else if $size == phone-landscape {
		@media (min-width: 568px) and (max-width: 823px) and (orientation: landscape) {
			@content;
		}
	} @else if $size == tablet {
		@media (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (device-aspect-ratio: 3/4) {
			@content;
		}
	} @else if $size == tablet-landscape {
		@media (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) and (device-aspect-ratio: 4/3) {
			@content;
		}	
	} @else if $size == desktop {
		@media (min-width: 1024px) {
			@content;
		}
	}
}
