@import "./mixins";

.apps {
  width: 100%;
  display: flex;
  flex-direction: column;
}

$color-white: #ffffff;
$color-black: #000000;
$color-purple: #3d46a2;
$color-lite-black: #303030;
$color-blue: #4097db;
$color-lite-blue: #53a7e9;
$color-text-blue: #029fe4;
$color-button-blue: #1ba0e1;
$color-grey: #777777;
$color-lite-grey: #f1f1f1;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-weight: 400;
  line-height: 1.5em;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  font-family: "Rubik", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    outline: none;
  }
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0;
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.3em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.header {
  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
      outline: 0 !important;
    }
  }
}

.section {
  .row {
    margin-bottom: 1rem;
  }

  .grid [class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(86, 61, 124, 0.15);
    border: 1px solid rgba(86, 61, 124, 0.2);
  }
  .headline {
    font-weight: normal;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #ffffff;
    @media (min-width: 768px) {
      font-size: 32px;
      line-height: normal;
    }
    @media (min-width: 992px) {
      font-size: 32px;
      line-height: normal;
    }
  }
  .line-break {
    display: inline;
    &::before {
      content: "\a ";
      white-space: pre;
      @media (min-width: 768px) {
        content: "";
        white-space: normal;
      }
      @media (min-width: 992px) {
        content: "";
        white-space: normal;
      }
    }
  }
  .title {
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    color: #029fe4;
  }
  .subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    color: #000000;
  }
  .text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #ffffff;
  }
  .slider {
    display: flex;
    justify-content: space-between;
    .card {
      min-height: 250px;
      .text {
        font-size: 14px;
        line-height: 24px;
        color: #777777;
      }
    }
    &--perks {
      .card--slider {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .card {
    border: none;
    box-sizing: border-box;
    width: 100%;
    &--slider {
      max-width: 100%;
      @media (min-width: 768px) {
        max-width: 30%;
      }
      @media (min-width: 992px) {
        max-width: 30%;
      }
      .img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .icon {
    display: flex;
    flex: 0 0 auto;
    &--scroll {
      background-image: url(/assets/img/scroll-icon.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 16px;
      width: 19px;
    }
  }
  &--hero {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    @media (min-width: 768px) {
      height: calc(100vh - 58px);
    }
    @media (min-width: 992px) {
      height: calc(100vh - 58px);
    }
    .hero {
      background-image: url(/assets/img/hero-image.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 250px;
      width: 100%;
      position: relative;
      @media (min-width: 768px) {
        height: 100%;
      }
      @media (min-width: 992px) {
        height: 100%;
      }
    }
    .content {
      background-color: $color-blue;
      padding: 40px 40px 70px;
      position: relative;
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 100px solid $color-blue;
        border-right: calc(100vw - 18px) solid transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translateY(-99%);
      }
      &::after {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 90px solid $color-lite-blue;
        border-left: 60vw solid transparent;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-99%);
        z-index: 0;
      }
    }
  }
  &--who-we-are {
    padding: 48px 0 69px;
    .slider-wrapper {
      padding: 0 20px;
      @media (min-width: 768px) {
        padding: 0;
      }
      @media (min-width: 992px) {
        padding: 0;
      }
      .slider-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 768px) {
          display: none;
        }
        @media (min-width: 992px) {
          display: none;
        }
        .slider-nav__counter {
          font-weight: 500;
          font-size: 16px;
          line-height: 38px;
          color: #b6b6b6;
          .current-number {
            font-size: 24px;
            color: #303030;
          }
        }
        .slider-arrow {
          display: flex;
          align-items: center;
          .slider-arrow__item {
            width: 52px;
            height: 46px;
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: #1ba0e1;
            .svg-arrow {
              width: 20px;
              height: 15px;
              fill: #ffffff;
            }
            &.slick-disabled {
              background-color: #f1f1f1;
              .svg-arrow {
                fill: #b6b6b6;
              }
            }
          }
        }
      }
    }
  }
  &--our-values {
    background-color: #f8f8f8;
    padding: 58px 0 0;
    .title {
      margin-bottom: 24px;
    }
    .text {
      color: #777777;
    }
    .card {
      padding-left: 44px;
      background-color: #f8f8f8;
      .title {
        font-size: 24px;
        line-height: 38px;
        color: #000000;
        margin-bottom: 6px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          border-top: 2px solid #747474;
          width: 26px;
          top: 50%;
          left: -44px;
          transform: translateY(-50%);
        }
      }
    }
    .svg-wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      height: 190px;
      @media (min-width: 768px) {
        height: auto;
      }
      @media (min-width: 992px) {
        height: auto;
      }
      .img-svg {
        width: 100%;
        height: 100%;
        @media (min-width: 768px) {
          width: 50%;
          height: auto;
        }
        @media (min-width: 992px) {
          width: 50%;
          height: auto;
        }
      }
    }
  }
  &--the-perks {
    background-color: #509fdd;
    .inner-container {
      background-color: #ffffff;
      margin: 35px 0 45px;
      padding: 60px;
      .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: left;
        @media (min-width: 768px) {
          text-align: center;
        }
        @media (min-width: 992px) {
          text-align: center;
        }
      }
      .text--perks {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #303030;
        width: 100%;
        margin: 0 auto 16px;
        text-align: left;
        @media (min-width: 768px) {
          width: 50%;
          text-align: center;
        }
        @media (min-width: 992px) {
          width: 50%;
          text-align: center;
        }
      }
      .slider-wrapper {
        position: relative;
        .slider--perks {
          position: relative;
          &::before {
            content: "";
            width: 60px;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
            background: -moz-linear-gradient(
              left,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
              left,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            );
            position: absolute;
            top: 0;
            left: 0;
            height: 121px;
            z-index: 1;
          }
          &::after {
            content: "";
            width: 60px;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
            background: -moz-linear-gradient(
              right,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            ); /* FF3.6-15 */
            background: -webkit-linear-gradient(
              right,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            ); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(
              to left,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            );
            position: absolute;
            top: 0;
            right: 0;
            height: 121px;
            z-index: 1;
          }
          @media (min-width: 768px) {
            &::before {
              background: transparent;
            }
            &::after {
              background: transparent;
            }
          }
          @media (min-width: 992px) {
            &::before {
              background: transparent;
            }
            &::after {
              background: transparent;
            }
          }
          .card--slider {
            .img-wrapper {
              width: 121px;
              height: 121px;
              margin: 0 auto 10px;
              .img-slider {
                width: 100%;
                height: 100%;
              }
            }
            .subtitle {
              font-size: 15px;
              line-height: 24px;
            }
          }
          .slick-slide {
            .card--slider {
              .img-wrapper {
                transform: scale(0.7);
              }
              .subtitle {
                display: none;
              }
              .text-wrapper {
                display: none;
                position: relative;
                z-index: 1;
              }
            }
            &.slick-current {
              .card--slider {
                .img-wrapper {
                  transform: scale(1);
                  transition: transform 400ms ease-in-out;
                }
                .subtitle {
                  display: block;
                }
                .text-wrapper {
                  display: block;
                  margin: 0 -60px;
                }
              }
            }
          }
        }
        .slider-arrow {
          display: flex;
          align-items: center;
          justify-content: space-between;
          pointer-events: none;
          position: absolute;
          bottom: -30px;
          left: 0;
          right: 0;
          width: 100%;
          @media (min-width: 768px) {
            display: none;
          }
          @media (min-width: 992px) {
            display: none;
          }
          .slider-arrow__item {
            pointer-events: auto;
            width: 20px;
            height: 15px;
            display: flex;
            flex: 0 0 auto;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .svg-arrow {
              width: 100%;
              height: 100%;
              fill: #3d46a2;
            }
            &.slick-disabled {
              .svg-arrow {
                width: 100%;
                height: 100%;
                fill: #d2d2d2;
              }
            }
          }
        }
      }
    }
  }
  .btn {
    &--fab {
      height: 40px;
      width: 40px;
      background-color: $color-white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate3d(-50%, 50%, 0);
    }
  }
}
.footer {
  background-color: #07477a;
  padding: 35px 0;
  position: relative;
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 253px solid #08385f;
    border-right: calc(100vw - 18px) solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    @media (min-width: 768px) {
      border-bottom: 150px solid #08385f;
    }
    @media (min-width: 992px) {
      border-bottom: 150px solid #08385f;
    }
  }
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 200px solid #14619d;
    border-left: 100vw solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    @media (min-width: 768px) {
      border-bottom: 125px solid #08385f;
    }
    @media (min-width: 992px) {
      border-bottom: 125px solid #08385f;
    }
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .logo-bottom {
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }
  .link {
    font-weight: normal;
    font-size: 16px;
    line-height: 48px;
    color: $color-white;
  }
  .contact-box {
    background-color: $color-white;
    padding: 25px;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
    list-style-type: none;
    @media (min-width: 768px) {
      align-items: center;
      margin-bottom: 0;
    }
    @media (min-width: 992px) {
      align-items: center;
      margin-bottom: 0;
    }
  }
  .form-select {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #00537c;
  }
  .input-wrapper {
    margin-bottom: 40px;
  }
  .address-box {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #25a0d8;
  }
}
