.apps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-weight: 400;
  line-height: 1.5em;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  font-family: "Rubik", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
}

.scroll-touch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  outline: none;
}

a:active, a:focus {
  outline: none;
  text-decoration: none;
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0;
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.3em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.header .navbar-toggler {
  border: none;
}

.header .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 !important;
}

.section .row {
  margin-bottom: 1rem;
}

.section .grid [class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.section .headline {
  font-weight: normal;
  font-size: 36px;
  line-height: 34px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

@media (min-width: 768px) {
  .section .headline {
    font-size: 32px;
    line-height: normal;
  }
}

@media (min-width: 992px) {
  .section .headline {
    font-size: 32px;
    line-height: normal;
  }
}

.section .line-break {
  display: inline;
}

.section .line-break::before {
  content: "\a ";
  white-space: pre;
}

@media (min-width: 768px) {
  .section .line-break::before {
    content: "";
    white-space: normal;
  }
}

@media (min-width: 992px) {
  .section .line-break::before {
    content: "";
    white-space: normal;
  }
}

.section .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  color: #029fe4;
}

.section .subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 38px;
  color: #000000;
}

.section .text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.section .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .slider .card {
  min-height: 250px;
}

.section .slider .card .text {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

.section .slider--perks .card--slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .card {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.section .card--slider {
  max-width: 100%;
}

@media (min-width: 768px) {
  .section .card--slider {
    max-width: 30%;
  }
}

@media (min-width: 992px) {
  .section .card--slider {
    max-width: 30%;
  }
}

.section .card--slider .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.section .icon--scroll {
  background-image: url(/assets/img/scroll-icon.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 16px;
  width: 19px;
}

.section--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: auto;
}

@media (min-width: 768px) {
  .section--hero {
    height: calc(100vh - 58px);
  }
}

@media (min-width: 992px) {
  .section--hero {
    height: calc(100vh - 58px);
  }
}

.section--hero .hero {
  background-image: url(/assets/img/hero-image.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .section--hero .hero {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .section--hero .hero {
    height: 100%;
  }
}

.section--hero .content {
  background-color: #4097db;
  padding: 40px 40px 70px;
  position: relative;
}

.section--hero .content::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 100px solid #4097db;
  border-right: calc(100vw - 18px) solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transform: translateY(-99%);
          transform: translateY(-99%);
}

.section--hero .content::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 90px solid #53a7e9;
  border-left: 60vw solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-99%);
          transform: translateY(-99%);
  z-index: 0;
}

.section--who-we-are {
  padding: 48px 0 69px;
}

.section--who-we-are .slider-wrapper {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .section--who-we-are .slider-wrapper {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .section--who-we-are .slider-wrapper {
    padding: 0;
  }
}

.section--who-we-are .slider-wrapper .slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .section--who-we-are .slider-wrapper .slider-nav {
    display: none;
  }
}

@media (min-width: 992px) {
  .section--who-we-are .slider-wrapper .slider-nav {
    display: none;
  }
}

.section--who-we-are .slider-wrapper .slider-nav .slider-nav__counter {
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  color: #b6b6b6;
}

.section--who-we-are .slider-wrapper .slider-nav .slider-nav__counter .current-number {
  font-size: 24px;
  color: #303030;
}

.section--who-we-are .slider-wrapper .slider-nav .slider-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--who-we-are .slider-wrapper .slider-nav .slider-arrow .slider-arrow__item {
  width: 52px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: #1ba0e1;
}

.section--who-we-are .slider-wrapper .slider-nav .slider-arrow .slider-arrow__item .svg-arrow {
  width: 20px;
  height: 15px;
  fill: #ffffff;
}

.section--who-we-are .slider-wrapper .slider-nav .slider-arrow .slider-arrow__item.slick-disabled {
  background-color: #f1f1f1;
}

.section--who-we-are .slider-wrapper .slider-nav .slider-arrow .slider-arrow__item.slick-disabled .svg-arrow {
  fill: #b6b6b6;
}

.section--our-values {
  background-color: #f8f8f8;
  padding: 58px 0 0;
}

.section--our-values .title {
  margin-bottom: 24px;
}

.section--our-values .text {
  color: #777777;
}

.section--our-values .card {
  padding-left: 44px;
  background-color: #f8f8f8;
}

.section--our-values .card .title {
  font-size: 24px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 6px;
  position: relative;
}

.section--our-values .card .title::before {
  content: "";
  position: absolute;
  border-top: 2px solid #747474;
  width: 26px;
  top: 50%;
  left: -44px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section--our-values .svg-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 190px;
}

@media (min-width: 768px) {
  .section--our-values .svg-wrapper {
    height: auto;
  }
}

@media (min-width: 992px) {
  .section--our-values .svg-wrapper {
    height: auto;
  }
}

.section--our-values .svg-wrapper .img-svg {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .section--our-values .svg-wrapper .img-svg {
    width: 50%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .section--our-values .svg-wrapper .img-svg {
    width: 50%;
    height: auto;
  }
}

.section--the-perks {
  background-color: #509fdd;
}

.section--the-perks .inner-container {
  background-color: #ffffff;
  margin: 35px 0 45px;
  padding: 60px;
}

.section--the-perks .inner-container .title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

@media (min-width: 768px) {
  .section--the-perks .inner-container .title {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .section--the-perks .inner-container .title {
    text-align: center;
  }
}

.section--the-perks .inner-container .text--perks {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #303030;
  width: 100%;
  margin: 0 auto 16px;
  text-align: left;
}

@media (min-width: 768px) {
  .section--the-perks .inner-container .text--perks {
    width: 50%;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .section--the-perks .inner-container .text--perks {
    width: 50%;
    text-align: center;
  }
}

.section--the-perks .inner-container .slider-wrapper {
  position: relative;
}

.section--the-perks .inner-container .slider-wrapper .slider--perks {
  position: relative;
}

.section--the-perks .inner-container .slider-wrapper .slider--perks::before {
  content: "";
  width: 60px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 121px;
  z-index: 1;
}

.section--the-perks .inner-container .slider-wrapper .slider--perks::after {
  content: "";
  width: 60px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  right: 0;
  height: 121px;
  z-index: 1;
}

@media (min-width: 768px) {
  .section--the-perks .inner-container .slider-wrapper .slider--perks::before {
    background: transparent;
  }
  .section--the-perks .inner-container .slider-wrapper .slider--perks::after {
    background: transparent;
  }
}

@media (min-width: 992px) {
  .section--the-perks .inner-container .slider-wrapper .slider--perks::before {
    background: transparent;
  }
  .section--the-perks .inner-container .slider-wrapper .slider--perks::after {
    background: transparent;
  }
}

.section--the-perks .inner-container .slider-wrapper .slider--perks .card--slider .img-wrapper {
  width: 121px;
  height: 121px;
  margin: 0 auto 10px;
}

.section--the-perks .inner-container .slider-wrapper .slider--perks .card--slider .img-wrapper .img-slider {
  width: 100%;
  height: 100%;
}

.section--the-perks .inner-container .slider-wrapper .slider--perks .card--slider .subtitle {
  font-size: 15px;
  line-height: 24px;
}

.section--the-perks .inner-container .slider-wrapper .slider--perks .slick-slide .card--slider .img-wrapper {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.section--the-perks .inner-container .slider-wrapper .slider--perks .slick-slide .card--slider .subtitle {
  display: none;
}

.section--the-perks .inner-container .slider-wrapper .slider--perks .slick-slide .card--slider .text-wrapper {
  display: none;
  position: relative;
  z-index: 1;
}

.section--the-perks .inner-container .slider-wrapper .slider--perks .slick-slide.slick-current .card--slider .img-wrapper {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.section--the-perks .inner-container .slider-wrapper .slider--perks .slick-slide.slick-current .card--slider .subtitle {
  display: block;
}

.section--the-perks .inner-container .slider-wrapper .slider--perks .slick-slide.slick-current .card--slider .text-wrapper {
  display: block;
  margin: 0 -60px;
}

.section--the-perks .inner-container .slider-wrapper .slider-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .section--the-perks .inner-container .slider-wrapper .slider-arrow {
    display: none;
  }
}

@media (min-width: 992px) {
  .section--the-perks .inner-container .slider-wrapper .slider-arrow {
    display: none;
  }
}

.section--the-perks .inner-container .slider-wrapper .slider-arrow .slider-arrow__item {
  pointer-events: auto;
  width: 20px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.section--the-perks .inner-container .slider-wrapper .slider-arrow .slider-arrow__item .svg-arrow {
  width: 100%;
  height: 100%;
  fill: #3d46a2;
}

.section--the-perks .inner-container .slider-wrapper .slider-arrow .slider-arrow__item.slick-disabled .svg-arrow {
  width: 100%;
  height: 100%;
  fill: #d2d2d2;
}

.section .btn--fab {
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate3d(-50%, 50%, 0);
          transform: translate3d(-50%, 50%, 0);
}

.footer {
  background-color: #07477a;
  padding: 35px 0;
  position: relative;
}

.footer::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 253px solid #08385f;
  border-right: calc(100vw - 18px) solid transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

@media (min-width: 768px) {
  .footer::before {
    border-bottom: 150px solid #08385f;
  }
}

@media (min-width: 992px) {
  .footer::before {
    border-bottom: 150px solid #08385f;
  }
}

.footer::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 200px solid #14619d;
  border-left: 100vw solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .footer::after {
    border-bottom: 125px solid #08385f;
  }
}

@media (min-width: 992px) {
  .footer::after {
    border-bottom: 125px solid #08385f;
  }
}

.footer .container {
  position: relative;
  z-index: 2;
}

.footer .logo-bottom {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .footer .logo-bottom {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .footer .logo-bottom {
    margin-bottom: 0;
  }
}

.footer .link {
  font-weight: normal;
  font-size: 16px;
  line-height: 48px;
  color: #ffffff;
}

.footer .contact-box {
  background-color: #ffffff;
  padding: 25px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .footer .contact-box {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .footer .contact-box {
    margin-bottom: 0;
  }
}

.footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 80px;
  list-style-type: none;
}

@media (min-width: 768px) {
  .footer .list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .footer .list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}

.footer .form-select {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #00537c;
}

.footer .input-wrapper {
  margin-bottom: 40px;
}

.footer .address-box {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #25a0d8;
}
/*# sourceMappingURL=styles.css.map */